task01/obj
task01/bin
task01/task01.csproj
task02/obj
task02/bin
task02/task02.csproj
task03/obj
task03/bin
task03/task03.csproj
task04/obj
task04/bin
task04/task04.csproj
task05/obj
task05/bin
task05/task05.csproj